<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DESCRIPTION">
    <meta name="keywords" content="KEYWORDS">
    <meta name="author" content="AUTHOR NAME">

    <!-- TITLE -->
    <title>Python词云</title>

    <!-- FAVICON -->
    <link href="../static/img/favicon.ico" rel="icon">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- MAGNIFIC POPUP CORE CSS -->
    <link href="../static/css/magnific-popup.css" rel="stylesheet">

    <!-- OWL CAROUSEL -->
    <link href="../static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/css/owl.theme.default.min.css" rel="stylesheet">

    <!--Style CSS file-->
    <link rel=" stylesheet" href="../static/css/style.css">

</head>

<body>

    <!-- ====== Preloader ======  -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- ======End Preloader ======  -->

    <!-- ======START NAVGITION ======  -->
    <nav class="navbar navbar-expand-lg">
        <!-- logo -->
        <a class="navbar-brand" href="#home">
            <img src="../static/img/logo.png" alt="header-Logo" class="logo"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
            <span class="icon-bar"><i class="fa fa-bars fa-2x"></i></span>
        </button>
        <!--End of Resposive Toggle icon-->

        <div class="collapse navbar-collapse" id="navbarText">
            <!--Main menu navigation list-->
            <ul class="navbar-nav ml-auto line">
                <li class="nav-item">
                    <a class="nav-link" href="/index">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movie">电影</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/score">评分</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/portfolio">词云</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team">团队</a>
                </li>
            </ul>
            <!--End of Main menu navigation list-->
        </div>
        <!--End of resposive collapse class-->
    </nav>
    <!-- ====== END NAVGITION ======  -->

    <!-- ====== START ABOUT ======  -->
    <section class="ready padding" id="about" data-scroll-index="3">
        <div class="container">
            <div class="row">

                <!-- START ABOUT PICTURE -->
                <div class="col-lg-6 mt-lg-5">
                    <img src="../static/img/word.png" alt="about-picture" />
                </div>
                <!-- END ABOUT PICTURE -->

                <!-- START ABOUT CONTENT -->
                <div class="col-lg-6 mt-md-5 mt-sm-5 about-content">
                    <div class="hr-title">
                        <h2 class="heading-primary mb-2">
                            词频统计
                        </h2>
                        <div class="headerhr"></div>
                    </div>
                    <p class=" mt-3 mb-3">
                        根据Top250部电影的一句话描述，提炼出词云树，可以让我们更加清晰的了解到人们对经典电影的理解
                    </p>
                    <strong class="heading-tertiary mb-3">
                        <img src="../static/img/hero-01.jpg" alt="about-picture" style="width:50px">

                        关于电影
                    </strong>
                    <p class="mb-5">
                        不知道你从中悟道了什么
                    </p>

                </div>
                <!-- END ABOUT CONTENT -->

            </div>
        </div>
    </section>
    <!-- ====== END ABOUT======  -->
    <!-- ====== START FOOTER ======  -->
    <section class="footer">
        <div class="container">
            <div class="row">


                <hr class="clearfix w-100 color-dark">

                <!-- START FOOTER BOTTOM -->
                <div class="offset-md-3 col-md-6 offset-md-3">

                    <!-- START SOCIAL ICONS -->
                    <div class="social-links">
                        <ul>
                            <li><a href="#0"><i class="fa fa-facebook fa-fw"></i></a></li>
                            <li><a href="#0"><i class="fa fa-twitter fa-fw"></i></a></li>
                            <li><a href="#0"><i class="fa fa-linkedin fa-fw"></i></a></li>
                            <li><a href="#0"><i class="fa fa-pinterest-p fa-fw"></i></a></li>
                            <li><a href="#0"><i class="fa fa-instagram fa-fw"></i></a></li>
                        </ul>
                    </div>
                    <!-- END SOCIAL ICONS -->

                    <!-- END SOCIAL ICONS -->

                    <!-- START RIGHTS -->
                    <div class="copyright">
                        <h5> &copy; The Garden of Eden 2024 | All Rights Reserved. </h5>
                    </div>
                    <!-- END RIGHTS -->
                </div>
                <!-- END FOOTER BOTTOM -->
            </div>
        </div>
    </section>
    <!-- ====== END FOOTER ======  -->

    <!-- ====== JS ======  -->
    <!--jquery-3.3.1 js-->
    <script src="../static/js/jquery-3.3.1.min.js"></script>

    <!-- popper js -->
    <script src="../static/js/popper.min.js"></script>

    <!-- bootstrap js -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- scrollIt js -->
    <script src="../static/js/scrollIt.min.js"></script>

    <!-- countTo js -->
    <script src="../static/js/jquery.countTo.js"></script>

    <!-- filter js -->
    <script src="../static/js/jquery.filterizr.min.js"></script>

    <!-- waypoints js -->
    <script src="../static/js/waypoints.min.js"></script>

    <!-- Magnific Popup core JS -->
    <script src="../static/js/jquery.magnific-popup.min.js"></script>

    <!-- owl carousel js -->
    <script src="../static/js/owl.carousel.min.js"></script>

    <!-- validator js -->
    <script src="../static/js/validator.js"></script>

    <!-- coustom js -->
    <script src="../static/js/main.js"></script>


</body>

</html>